src/CausalPriorFitting.egg-info/dependency_links.txt
src/CausalPriorFitting.egg-info/PKG-INFO
src/CausalPriorFitting.egg-info/SOURCES.txt
src/CausalPriorFitting.egg-info/top_level.txt

# all .pyc files
*.pyc

*.err
*.log
*.out
__pycache__

src/training/checks/Results/
src/training/checks/Results/**
src/training/checks/ResultsDataloaderSamples
/experiments/FirstTests/checkpoints
src/training/checks/ResultsBaselines
/experiments/FirstTests/benchmark_results
/data_cache/*
wandb/
src/training/checks/ResultsComplexity
src/training/checks/ResultsRealWorldSamples
src/benchmarking/results

/experiments/GraphConditioning/checkpoints
/experiments/GraphConditioning/Benchmarks/LinGaus/benchmark_res/
/experiments/GraphConditioning/Benchmarks/LinGaus/data_cache
experiments/GraphConditioning/lingaus_benchmark_data.zip
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
experiments/GraphConditioning/Benchmarks/LinGaus/.DS_Store
experiments/GraphConditioning/Benchmarks/LinGaus/.DS_Store
attention_maps_comparison.png
bias_effects.png

/experiments/GraphConditioning/Benchmarks/LinGausIDK/data_cache

/experiments/GraphConditioning/aggregate_results/lingaus_idk/plots

/experiments/GraphConditioning/aggregate_results/lingaus/plots

/ancestor_5node_attention_maps
/ancestor_5node_random_attention_maps
/ancestor_attention_maps

/experiments/GraphConditioning/Benchmarks/ComplexMech/data_cache

*.DS_Store

# Ignore RealCauseEval but keep specific files
#RealCauseEval/*
#RealCauseEval/run_baselines
#RealCauseEval/run_baselines/*
#RealCauseEval/run_baselines/dofm_v2.py

/experiments/GraphConditioning/Benchmarks/ComplexMech2/data_cache

/benchmark_analysis


/RealCauseEval/results

/experiments/GraphConditioning/Benchmarks/ComplexMech2/results

/experiments/GraphConditioning/Benchmarks/ComplexMech2/plots_by_node_count

/experiments/GraphConditioning/Benchmarks/ComplexMech2/plots_sample_size

/experiments/GraphConditioning/Benchmarks/ComplexMech2/plots_comparison
/PlantEval/PlantsEval/results

*.tsv
*.pkl

/PlantEval2/PlantsEval/results

/PlantEval/CID_10_ints_10_reals_four_std_uniform.pkl